*{
    margin: 0;
    padding: 0;
}

nav{
    background: #fff;
    box-shadow: 0px 2px 5px 1px rgba(166,166,166,0.75);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(166,166,166,0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(166,166,166,0.75);
}

ul li a:hover{
    color: aliceblue;
    padding: 5px;
    border-bottom: 1px solid black;
}

section{
    margin-top: 6rem;
}

.card-text{
    display: flex;
    flex-direction: column;
}